@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

@font-face {
  font-family: Bebas;
  src: url('../fonts/BebasKai-Regular.otf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.btn {
  border: 1.5px solid #8151ca;
  border-radius: 0.75rem;
  padding: 0.75rem 1.25rem;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  color: #000;
  background: #8151ca;
}

.btn-2 {
  border: 1.5px solid #8151ca;
  border-radius: 0.75rem;
  padding: 0.75rem 1.25rem;
  transition: all 0.3s ease-in-out;
}

.btn-2:hover {
  color: #000;
  background: #8151ca;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}

.parallax__group {
  position: relative;
  height: 100vh;
  width: 100vw;
  transform-style: preserve-3d;
}

.parallax__group.info-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sky {
  background: url('images/skymoving.gif') no-repeat center;
  background-size: cover;
  transform: translateZ(-600px) scale(3);
  z-index: 1;
}

.bushes {
  background: url('images/bushes.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-525px) scale(2.75);
  z-index: 2;
}

.water {
  background: url('images/water.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-400px) scale(2.33333333);
  z-index: 3;
}

.people1 {
  background: url('images/people1.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-250px) scale(1.833333333);
  z-index: 4;
}

.people2 {
  background: url('images/people2.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-125px) scale(1.4167);
  z-index: 5;
}

.people3 {
  background: url('images/people3.png') no-repeat center;
  background-size: cover;
  transform: translateZ(0) scale(1);
  z-index: 6;
}

.treescape {
  background: url('images/treescapeEdit.png') no-repeat center;
  top: 10px;
  background-size: cover;
  transform: translateY(1px) translateZ(0) scale(1);
  width: 102%;
  z-index: 9;
}


.logo-container {
  display: flex;
  justify-content: center;
  position: absolute;
  transform: scale(0.12);
  top: 5%;
  z-index: 7;
}

.hero-text {
  background: linear-gradient(
    rgba(0, 0, 0, 0.993) 90%
  );
  background-size: cover;
  transform: translateZ(0) scale(1);
  z-index: 9;
}

.hero-text h2 {
  font-size: 1.25rem;
  position: absolute;
  left: 2.5rem;
  top: 2.5rem;
}

.hero-text ul {
  font-size: 0.75rem;
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
}

.hero-text ul li {
  margin-left: 2.5rem;
  list-style-type: none;
  float: left;
  visibility: visible;
  line-height: 2rem;
}

.hero-text ul li:nth-of-type(3) {
  visibility: visible;
}

.year-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 17rem;
  height: 25rem;
  z-index: 7;
}

.year-container h1 {
  font-family: BadaBoom BB;
  font-weight: 400;
  position: absolute;
  font-size: 12.5rem;
}

.year-container h1:nth-of-type(1) {
  top: 40%;
  right: 75%;
}

.year-container h1:nth-of-type(2) {
  left: 28%;
  top: 30%;
}

.year-container h1:nth-of-type(3) {
  top: 38%;
  right: 5%;
}

.social-container {
  position: absolute;
  left: 2.5rem;
  bottom: 2.5rem;
}

.social-container i {
  font-size: 1.25rem;
  margin-right: 0.25rem;
}

.about {
  position: relative;
  overflow: hidden;
  padding-top: 5rem;
  padding-bottom: 5vh;
  background: rgb(0, 0, 0);
  display: block;
  margin-top: -1px;
}

.about-image{
  float: left;
  margin-left: 100px;
  margin-right: 30px;
}

.info-container img {
  width: 40rem;
  filter: saturate(1);
  background-color: #000;
}

.info-container p {
  margin-bottom: 1rem;
  background-color: #000;
  text-justify: inter-word;
}

.info-container h2 {
  margin-bottom: 1rem;
  background-color: #000;
}

.text-container{
  position: static;
}

.text-container p:nth-of-type(1) {
  font-weight: 200;
  font-size: 1.7rem;
  width: 97%;
  font-family: "Montserrat", sans-serif;
}

.text-container p:nth-of-type(2) {
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.checkbtn{
  font-size: 25px;
  color: white;
  float: right;
  line-height: 110px;
  margin-right: 2.5rem;
  cursor: pointer;
  display: none;
  visibility: hidden;
}

#check{
  display: none;
  visibility: hidden;
}

@media (max-width: 800px){
  .info-container{
    display: block;
  }
  .info-container img{
    width: 70%;
    height: auto;
  }
  .about-image{
    float: none;
    margin-left: 16vw;
    
  }
  .text-container{
    padding: 10vw;
  }

  .text-container p:nth-of-type(1) {
    font-size: 5vw;
  }
  
  .text-container p:nth-of-type(2) {
    font-size: 6vw;
  }
  
}

.content{
  background-color: black;
}
/*
@media (max-width: 1440px){


  
  .about-image{
    position: fixed;
    left: 25%;
    margin: 0;
    margin-bottom: 0;
  }

  .info-container img{
    width: 50%;
  }

  .info-container p {
    margin-bottom: 0.7rem;
    background-color: #000;
  }

  .text-container {
    margin-top: 43%;
    margin-bottom: 50%;
  }
  
  .info-container h2 {
    padding-left: 2.5rem;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    background-color: #000;
  }

  .text-container p:nth-of-type(1) {
    padding-left: 2.5rem;
    padding-right: 3rem;
    font-family: "Montserrat", sans-serif;
    opacity: 90%;
    font-size: 1.3rem;
    margin: 0;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .text-container p:nth-of-type(2) {
    padding-left: 2.5rem;
    padding-right: 3rem;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  .btn-2 {
    border: 1.5px solid #8151ca;
    border-radius: 0.75rem;
    padding: 0.45rem 1rem;
    transition: all 0.3s ease-in-out;
    margin-left: 2.5rem;
  }
}
*/
/*
@media (max-width: 1200px){

  .info-container h2 {
    padding-left: 2.5rem;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    background-color: #000;
  }

  .text-container p:nth-of-type(1) {
    padding-left: 2.5rem;
    padding-right: 3rem;
    font-family: "Montserrat", sans-serif;
    opacity: 90%;
    font-size: 1.1rem;
    margin: 0;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .text-container p:nth-of-type(2) {
    padding-left: 2.5rem;
    padding-right: 3rem;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
}
*/

@media (max-width: 800px) {
  .hero-text ul{
    position: fixed;
    width: 50%;
    height: 16rem;
    background: rgba(0, 0, 0, 0.8);
    border: 3.5px solid #9e60fc;
    border-radius: 2rem;
    margin-right: 7px;
    top: 90px;
    right: -100%;
    display: grid;
    list-style: none;
    justify-content: center;
    font-size: 17px;
    transition: all 0.5s;
  }
  

  #check:checked ~ ul{
    right: 0;
  }

  .hero-text ul li{
    margin-left: 0rem;
    display: grid;
    place-items: center;
  }
  
  .hero-text ul li:nth-child(3){
    margin-left: 0rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    display: grid;
    place-items: center;
  }

  a {
    color: rgb(255, 255, 255);    
  }

  a:hover{
    color:#b689fa;
  }

  .btn {
    visibility: visible;
    transition: none;
    border: none;
    border-radius: 1rem;
    padding: 0.1rem 0.5rem;
    color:#9e60fc;
  }
  
  .btn:hover {
    color: rgb(231, 231, 231);
  }

  .checkbtn{
    display: block;
    visibility: visible;
  }

}





* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
  padding-bottom: 60px;
  background: rgb(0, 0, 0);
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  width: 100%; /* set a fixed width */
  overflow-x: scroll; /* change to scroll */
  overflow-y: hidden; /* hide the y-axis scrollbar */
  white-space: nowrap; /* prevent line wrapping */
  padding: 0 10vw;
  display: flex;
  scroll-behavior: smooth;
  background: rgb(0, 0, 0);
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: rgba(7, 1, 10, 0.932);
  padding: 5px;
  border-radius: 5px;
  color: #9769dd;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  font-family: Montserrat, sans-serif;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #8151ca;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: none;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}




@media (min-width: 1920px) {
  .sky,
  .bushes,
  .water,
  .people1,
  .people2,
  .people3,
  .treescape
  .hero-text {
    background-size: contain;
  }
}

